<%= form_with(model: document, local: true) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="control">
      <%= form.text_field :name, class: "input is-primary", placeholder: "Document Name", required: true %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.file_field :spreadsheet, accept: ".xls,.xlsx", required: true %>
    </div>
  </div>

  <div class="field">
    <%= form.submit class: "button is-link" %>
  </div>
<% end %>